<h1>This will be a list of events</h1>
<%= link_to 'New Post', new_event_path %>
<ul>
        <% @events.each do |p| %>
            <li>
                <h3><%= link_to p.title, event_path(p.id) %></h3>
                <p><%= p.body %></p>
            </li>
        <% end %>
    </ul>