<!--<div>-->
<!--  <%# flash.each do |key, value| %>-->
<!--    <div>-->
<!--      <a href="#" data-dismiss="alert">×</a>-->
<!--        <%#= value %>-->
<!--    </div>-->
<!--  <%# end %>-->
<!--</div>-->