<!--<div align="center">-->
<!--  <h3>Send A message to Us </h3>-->

<!--  <%#= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>-->
<!--    <%#= f.input :name, :required => true %>-->
<!--    <%#= f.input :email, :required => true %>-->
<!--    <%#= f.input :message, :as => :text, :required => true %>-->
<!--    <div class= "hidden">-->
<!--      <%#= f.input :nickname, :hint => 'Leave this field blank!' %>-->
<!--    </div>-->
<!--    <div>-->
<!--      </br>-->
<!--      <%#= f.button :submit, 'Send message', :class=> "btn btn-primary" %>-->
<!--    </div>-->
<!--  <%# end %>-->
<!--</div>-->
        <div class="container" style="margin-top:50px;">
            <%= form_for @contact  do |f| %>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Cont&aacute;ctenos</h2>
                        <h3 class="section-subheading text-muted">P&oacute;ngase en contacto con el tecn&oacute;logo.</h3>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        
                        <div class="form-group">
                            <%= f.text_field :name, type:'text', class:'form-control', placeholder:'Ingrese su nombre *'%>
                            <p class="help-block text-danger"></p>
                        </div>
                        
                        <div class="form-group">
                            <%= f.text_field :email, :required => true, type:'text', class:'form-control', placeholder:'Ingrese su e-mail *'%>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :subject, :required => true, type:'text', class:'form-control', placeholder:'Ingrese su e-mail *'%>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            
                            <%= f.text_area :message, :as => :text, :required => true, type:'text', class:'form-control', placeholder:'Ingrese su Mensaje *'%>
                            <p class="help-block text-danger"></p>
                            
                            <div class="col-lg-12 text-center btnmap">
                                <h5 class="section-subheading text-muted">Coordinadora: <font color="Black">Ana Iruleguy</font></h5>
                                <div  style="margin-top: 5px;">
                                    <i class="glyphicon glyphicon-envelope">
                                    </i> tipay.2009@gmail.com
                                </div>
                                <div  style="margin-top: 5px;">
                                    <i class="glyphicon glyphicon-home">
                                        
                                    </i> Leandro G&oacute;mez y 33 Orientales S/N.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div>
                        <%= f.submit 'Send message', :class=> "btn btn-default btn-lg" %>
                    </div>
                </div>
            <% end %>
        </div>