
<!-- COMIENZO DE HEADER -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "TecnoInf ", root_path, class:'navbar-brand topnav'%>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                
                <% if current_user %>    
                    <% if current_user.role==0 %>
                        <li>    
                            <a href="#about">Bienvenido Admin</a>
                        </li>
                        <li>
                            <%= link_to 'Members', users_path %>
                        </li>
                    <% else  %>
                        <li>    
                            <a href="#about">Bienvenido Alumno</a>
                        </li>
                    <%end%>
                    
                <%end %>
                
                <li>
                    <a href="#about">Nosotros</a>
                </li>
                <li>
                    <a href="#services">Servicios</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
                <!--
                  <li>
                    <form class="navbar-form navbar-right">
                      <a href="#myModalOut" class="btn btn-danger fa fa-sign-out" data-toggle="modal"> Log Out</a>
                    </form>
                  </li>
                  -->
                        <li>
                            <form class="navbar-form navbar-right">
                                <%= link_to 'All Noticias', events_path,  class:'btn'  %>
                            </form>
                        </li>
                        <% if current_user %>
                        <li>
                            <form class="navbar-form navbar-right">
                               <li><%= link_to 'Editar Perfil' ,edit_user_registration_path, class:'btn' %></li>
                            </form
                        </li>
                            <li>
                                <form class="navbar-form navbar-right">
                                    <%= link_to 'Logout', destroy_user_session_path, method: :delete,  class:'fa fa-sign-out' %>
                                </form>
                            </li>
                        <% else %>
                            <li>
                                <a href="#myModalIn" class="btn fa fa-sign-in" data-toggle="modal"> Entrar</a>
                                <!--%= link_to 'Login', new_user_session_path %-->
                            </li>
                            <li>
                                <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                                    <a href="#myModalSignUp" class="btn fa fa-sign-in" data-toggle="modal"> Registrar</a>
                                <% end -%>
                            </li>
                        <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav> <!--Fin de HEADER-->


   
    <!-- Modal HTML -->
    <form class="navbar-form navbar-right">
      <div id="myModalOut" class="modal fade">

          <div class="modal-dialog">

              <div class="modal-content">

                  <div class="modal-header">

                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                      <h4 class="modal-title">Confirmacion</h4>

                  </div>

                  <div class="modal-body">

                      <p>Está seguro que desea Cerrar sesión?</p>

                  </div>

                  <div class="modal-footer">

                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

                      <input type="submit" value="Log out" id="logoutUP" name="logoutUP" class="form-control btn btn-danger">

                  </div>

              </div>

          </div>

      </div>
    </form>
    
    <!--Modal de Log In-->
    <div id="myModalIn" class="modal fade">
    
      <div class="modal-dialog">
    
          <div class="modal-content">
    
              <div class="modal-header">
    
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    
                  <h4 class="modal-title">Log In</h4>
    
              </div>
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
              <div class="modal-body">
                  
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <%= f.label :email, class: "col-sm-2 control-label" %>
                                
                                    <%= f.email_field :email, autofocus: true , required:"", placeholder:'email@email.xxx', type:'text' ,class: "form-control" %>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <%= f.label :password, class: "col-sm-2 control-label" %>
                                
                                    <%= f.password_field :password, autocomplete: "off", required:"", placeholder:'Password' ,class: "form-control" %>
                                
                            </div>
                        </div>
                    </div>
                    
                    <% if devise_mapping.rememberable? -%>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <%= f.check_box :remember_me %>
                                    <%= f.label :remember_me %>
                                </div>
                            </div>
                        </div>
                      <% end -%>
               
                    </div>
    
              <div class="modal-footer">
    
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    
                  <%= f.submit "Log in", class: 'btn btn-danger' %>
    
              </div>
            <% end %>
          </div>
    
      </div>
    
    </div>
    
    <!-- Modal de registro -->
    <div id="myModalSignUp" class="modal fade">

          <div class="modal-dialog">

              <div class="modal-content">

                  <div class="modal-header">

                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                      <h4 class="modal-title">Registro de Usuario</h4>

                  </div>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
                  
                
                    <!--el cuerpo del modal-->
                    
                    <div class="modal-body">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <%= f.label :Nombre, class: "col-md-2 control-label" %>
                                <%= f.text_field :name, class: "form-control",autofocus: true %>
                            </div>
                        </div>
                    </div>
                      
                      
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <%= f.label :Apellido %>
                                <%= f.text_field :last_name, class: "form-control",autofocus: true %>
                            </div>
                        </div>
                    </div>
                      
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                            <div><%= f.check_box :is_male, {}, true %> <%= f.label :is_male, "Masculino" %> </div>
                            <div><%= f.check_box :is_male, {}, false %> <%= f.label :is_male, "Femenino" %> </div>
                            </div>
                        </div>
                    </div>
                      
                        
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <%= f.label :Fecha_de_Nacimiento  %>
                                
                                    <%= f.date_select :date_of_birth, class: "form-control",autofocus: true %>
                                
                            </div>
                        </div>
                    </div>
                      
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <%= f.label :Email %>
                                <%= f.email_field :email, class: "form-control", required:"", autofocus: true %>
                            </div>
                        </div>
                    </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2"> 
                                <%= f.label :Password %>
                                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2"> 
                            <%= f.label :Confirmacion_Password %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                  </div>

                    <div class="modal-footer">
    
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            
                        <%= f.submit "Registrar", class: "btn btn-primary" %>
                        
                         <!--input type="submit" value="Log out" id="logoutUP" name="logoutUP" class="form-control btn btn-danger"-->
                    </div>
                  <% end %>

              </div>

          </div>

      </div>