<!--alerta de mensajes-->

<% flash.each do |key, value| %>
    
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
<% end %>

<script>
    $('.alert').fadeOut(6000);
</script>