<!DOCTYPE html>
<html>
<head>
    <title>Java EE Usuarios</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <style>
          body { padding-top: 50px; }
        </style>
    <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/cabezal' %>
<%= render 'layouts/flash_messages'%>
<%= yield %>

<%= render 'layouts/footer' %>
</body>
</html>